# Taxi Raw Data Pre-processing

**This note book pre-process the taxi data from the landing folder and save it to the raw folder**

**Read in the data using pandas**

Since we are using pandas, read in 3 datasets

In [9]:
# Read in the parquet data using pandas

import pandas as pd

df_2020_01 = pd.read_parquet('../data/landing/yellow_tripdata_2020-01.parquet')
df_2020_02 = pd.read_parquet('../data/landing/yellow_tripdata_2020-02.parquet')
df_2020_03 = pd.read_parquet('../data/landing/yellow_tripdata_2020-03.parquet')

**Combine all the data frame into one data frame**

This is to make pre-processing job easier

In [10]:
merge_df = pd.concat([df_2020_01, df_2020_02, df_2020_03], ignore_index=True)
merge_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,None
1,1,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,None
2,1,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,None
3,1,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,None
4,2,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,None

**Standardized Columns Name**

* Convert all column names to lowercase.
* Remove any leading or trailing spaces.
* Replace spaces with underscores (or any other consistent delimiter).

In [11]:
# Standardize column names
merge_df.columns = merge_df.columns.str.lower()
merge_df.columns = merge_df.columns.str.strip().str.replace(' ', '_')
merge_df.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,None
1,1,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,None
2,1,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,None
3,1,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,None
4,2,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,None

**Handle Missing Values & Drop Uneccessary Columns**

* Identify columns with missing values.
* Remove columns with missing value

In [12]:
# Count the value of NaN in each column
nan_counts = merge_df.isna().sum()

# Specified which column to drop
drop_column = ['ratecodeid', 'store_and_fwd_flag','passenger_count','congestion_surcharge','airport_fee']

# Drop the column
df = merge_df.drop(drop_column, axis=1)

# Check if column has been drop
df.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2020-01-01 00:28:15,2020-01-01 00:33:03,1.2,238,239,1,6.0,3.0,0.5,1.47,0.0,0.3,11.27
1,1,2020-01-01 00:35:39,2020-01-01 00:43:04,1.2,239,238,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30
2,1,2020-01-01 00:47:41,2020-01-01 00:53:52,0.6,238,238,1,6.0,3.0,0.5,1.00,0.0,0.3,10.80
3,1,2020-01-01 00:55:23,2020-01-01 01:00:14,0.8,238,151,1,5.5,0.5,0.5,1.36,0.0,0.3,8.16
4,2,2020-01-01 00:01:58,2020-01-01 00:04:16,0.0,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80

**Consistent data types**

* Ensure that each column has a consistent data type.
* Converting or casting columns to the appropriate types.

In [13]:
# Convert payment type into categorical data type
for col in ['payment_type']:
    df[col] = df[col].astype('category')
    
df.dtypes

vendorid                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
trip_distance                   float64
pulocationid                      int64
dolocationid                      int64
payment_type                   category
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
dtype: object

**Check the shape of the data before and after raw-preprocessing**

In [14]:
# 6 columns were removed
print(merge_df.shape)
print(df.shape)

(15712062, 19)
(15712062, 14)

**Save the raw data**

In [15]:
df.to_parquet('../data/raw/yellowtaxi_raw_data.parquet')
df.to_csv('../data/raw/yellowtaxi_raw_data.csv', index = False)